@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;       /* bg-blue-700 - Color vibrante primario */
  --color-primary-light: #eff6ff; /* bg-blue-50 */
  --color-success: #10b981;       /* bg-emerald-500 */
  --color-success-light: #d1fae5; /* bg-emerald-100 */
  --color-danger: #ef4444;        /* bg-red-500 */
  --color-danger-light: #fee2e2;  /* bg-red-100 */
  --color-background: #f8fafc;    /* bg-slate-50 - Fondo general claro */
  --color-card: #ffffff;
  --color-text-main: #0f172a;     /* slate-900 */
  --color-text-muted: #64748b;    /* slate-500 */
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
  }
}
